*{ 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  --black :rgb(0, 0, 0);
  --white :rgb(255, 255, 255);
  --primary :#6a8dc2;
  --secondary :#85b2f5;  
  --animate :rgb(61, 12, 240);  
  --termate :rgb(246, 83, 39);  
  --colorFooter:#272727;
  --minWidth:400px;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Saira Condensed', sans-serif;
  /*position: absolute; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width:var(--minWidth); 
}
.main{
  width: 100%;  
  min-width:var(--minWidth); 
  position: relative;
}
/* all tags styles*/
h1{
  font-size: 3em;
  font-weight: 400;
}
h4{
  font-size: 2em;
  font-weight: 500; 
}

ul li , nav li {
  list-style: none;
}

ul li a , nav li a{
  text-decoration: none ;
  color: var(--white); 
}
  
.rows{
  display: flex;  
  justify-content: space-around ; 
  flex-wrap: wrap; 
  margin-top: 10px;
  margin-bottom:30px;
}

.container{   
  width: 90%;
  height: 100vh;  
  margin: auto;
  min-width: var(--minWidth); 
}

.whatsapp{
  color: #0da83b;  
  cursor: pointer;  
}
.facebook{
  color: #076cb9;
  cursor: pointer;   
}
.instagram{
  color: #d43b10;  
  cursor: pointer; 
} 
.instagram i:hover{ 
  color: #ea9453; 
  font-size: 32px; 
} 
.facebook:hover{ 
  color: #35a8f0;
  font-size: 32px; 
}
.whatsapp:hover{ 
  color:  #3ad569; 
  font-size: 32px; 
} 
.icon-social{
  color: var(--white) !important;  
  cursor: pointer;
}




/* content header*/
.header-container{
  width: 100%;
  height: 100vh;
  background-color: var(--negro);
  min-width: 400px;
}

.header-container .header-pages{
  width: 100%;
  height: 90px !important; 
}


.cian-header{
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items:  center;
  justify-content:space-between;
  background-color: var(--primary);
  padding: 0.5rem;
  text-align: center;
}

.cian-logo{ 
  width: 150px;
  height:  50px;
  cursor: pointer;
}
.cian-logo img{  
  width: 100%;
  height: 100%;
}
.cian-menu{   
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end; 
}
.cian-menu .list{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
#toggler, .cian-header label{
  display: none;
}
.cian-menu li{ 
  text-align: center;
  width: 150px;
  animation: 5s ease all;
}
.cian-menu li:hover{ 
  position: relative;
  transform: translateY(1px);
  background: #272727;
  animation: 5s ease all;
}
 
.cian-menu li a{
   font-size: 1.3rem; 
}
.cian-slider{
  background: var(--black);
  width: 100%;
  height: 90vh;
  min-width:var(--minWidth); 
}

/*styles btn s*/
.cian_links { 
  text-decoration: none; 
  border: none;
  color: var(--white); 
  background-image: linear-gradient(30deg, #7371e7, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700; 
  cursor: pointer; 
  padding: 0.3em 1em;

}
.cian_links:hover{
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}


/*
.btnprimary{
  background-color: rgb(4, 37, 70);
}
*/


/*css productos*/
.productos{
  width: 100%;
  height: 100vh;
  background: #e4e2e2;
  text-align: center; 
} 
.productos .container h1{ 
  text-align: center;
  width: 100%;
}  
.productos .container .productos-imagenes{
   width: auto;
} 
/* card  para productos*/ 
.card-product{
  width: 260px;
  height: 220px;
  padding: .6em;
  border-radius: 10px;
  background: #ffff;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 .card-img { 
  height:70%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease; 
 }
 .card-img img{
  width: 241px;
  height:140px ;
  border-radius: 10px;
  cursor: pointer;
 }
 .card-info {
  padding-top: 5px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5;
 }
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
  
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 
              0px 13px 47px -5px, 
              rgba(180, 71, 71, 0.3)
              0px 8px 16px -8px;
 }
 
 


 
/*css servicios*/
.servicios{
  width: 100%;
  height: 103vh;  
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3ccircle r='93.335' cx='-26.41' cy='70.85' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='313.26' cy='292.51' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='773.04' cy='711.01' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='79.03' cx='302.28' cy='191.91' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='80.815' cx='383.12' cy='28.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.515' cx='939.1' cy='184.25' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='98.405' cx='784.73' cy='553.03' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='51.665' cx='1392.59' cy='210.64' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150.88' cx='1359.36' cy='148.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='104.54' cx='405.78' cy='224.92' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='155.37' cx='646.34' cy='98.75' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='130.225' cx='1285.79' cy='41' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='46.725' cx='741.27' cy='548.3' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='143.07' cx='1237.42' cy='308.16' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='177.815' cx='1062.18' cy='388.64' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='87.685' cx='1076.09' cy='431.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='175.615' cx='1424.81' cy='178.11' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='91.97' cx='85.42' cy='450.02' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='126.505' cx='1271.57' cy='391.97' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='151.96' cx='190.28' cy='484.41' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.19' cx='280.11' cy='78.7' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='127' cx='614.56' cy='281.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='99.77' cx='1283.34' cy='233.57' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='52.305' cx='310.92' cy='298.35' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='156.685' cx='1303.97' cy='339.99' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='92.405' cx='827.83' cy='439.89' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='60.58' cx='1425.58' cy='313.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='65.125' cx='148.48' cy='249.03' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='109.715' cx='410.16' cy='193.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='80.635' cx='1041.14' cy='51.71' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='147.815' cx='646.7' cy='66.46' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='85.29' cx='1238.36' cy='220.38' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='57.165' cx='490.02' cy='102.56' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='127.67' cx='860.34' cy='57.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.77' cx='800.6' cy='113.19' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='130.38' cx='1230.11' cy='455.89' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='57.045' cx='658.09' cy='345.57' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='128.025' cx='1339.59' cy='160.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='147.495' cx='1230.85' cy='319.79' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.885' cx='1419.62' cy='367.86' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1000'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.servicios .container{
  padding-top:10px; 
  text-align: center; 
}
.servicios .container h1{
  text-align: center;
  width: 100%;
  color:  var(--white);
}  
.servicios .container .servicios-imagenes{
   width: auto;
} 

.card-services {
  width: 290px;
  height: 220px;
  background: white;
  padding: .4em;
  border-radius: 6px;  
}
.card-image { 
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0; 
}
.card-image img {
  width: 100%;
  height: 170px;
  cursor: pointer;
}
.card-image:hover {
  transform: scale(0.98);
}
.card-services .service-name{
  position: relative;
  bottom:0;
  padding-top: 2.5em;
  font-size:20px;
}
 
  
/*css cobertura*/
.cobertura{
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}
.cobertura .container{
  padding-top:10px;  
  display: flex; 
  align-items: center;
  justify-content: center;  
}
.container h1{
  text-align: left;
  width: 100%;
  color: var(--primary);
}  
.container .cobertura-imagenes{ 
  width: 100%; 
   height: 600px; 
} 
.container .cobertura-imagenes  img{
  width: 100%;
  height: 100%;
  border-radius:10px ;
} 
.container .cobertura-detalle{
  width: 100%;
  height: 100%;
  padding: 10vh 20px 0 20px;
  margin: auto; 
} 
.card-cobertura-detalle{
   font-size: 30px; 
}
.card-cobertura-detalle p{ 
  margin-bottom: 20px;
  font-size:25px;
}
.card-cobertura-detalle .sub-title{  
  font-size:28px;
  text-transform: uppercase;
}
.card-cobertura-detalle .datos li{ 
   display: flex;  
   align-items: center; 
}
.card-cobertura-detalle .datos li i{
  width: 30px;
  height: 30px;
  margin: 10px;
} 
.card-cobertura-detalle h5{
  margin-top: 20px;
  text-align: center;
}
.cobertura-detalle .redes-sociales li span i{
  padding-right: 10px;
}
.redes-sociales{
  display: flex;  
  align-items: center;
  justify-content: center;
}
.redes-sociales span{ 
  padding: 10px; 
  margin: 10px;
}



/*css content-footer*/
.content-footer{
  width: 100%;
  height: 100vh;
  background-color:  #e4e2e2;  
  position: relative;
}

.content-footer .nuestros-clientes{
  width: 100%;  
}
 

/*margin*/ 
.reveal{
  position: relative; 
  transform: translateY(140px);
  opacity: 0;
  transition: 2s all ease;
}
.active{   
  transform: translateY(0);
  opacity: 1;  
}

/*SECCTION : FOOTER*/

footer{
  display: block; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom:0;
}

footer .nuestros-clientes{ 
  width: auto;
  height: 50vh; 
  text-align: center;
}

.footer{
  display:  flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 2em;
  height: 300px; 
  font-size:1.5rem;
  background-color:var(--colorFooter) ;
  color: var(--white); 
}
.footer div{
  text-align: justify;
}

.footer .footer-contacto .footer-contacto-lista .footer-item-icon i{
  padding-right: 10px;
  cursor: pointer;
}

.footer .footer-redes-lista{
  display: flex;  
  align-items: center;
  justify-content: center;
}

.footer .footer-redes-lista li{
  padding: 10px; 
}
 
.copyright{
    color: var(--white);
    text-align: center;
    font-size: 20px;
    background-color:var(--colorFooter) ; 
}




/* SECCTION : KEY FRAMES*/

@keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

 /*MEDIA screan -- RESPONSIVE*/
 @media screen and (max-width:370x){
  .cian-header{
    padding:0.5rem 2rem 0.5rem 2rem; 
  }
 }
 @media screen and (max-width:600px){
  .cian-header{
    padding:0.5rem 1rem 0.5rem 1rem; 
    height: auto;
  }
  .cian-header .cian-logo{
    padding:0; 
  }
  .cian-menu{
    position: relative;
    width: 100%; 
    height: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0;  
    transition: .5s ease all; 
  }
  .cian-menu .list{
    position: relative;
    flex-direction: column;
    align-items: center;  
    width: 100%; 
    height: 100%; 
   
  }
  .cian-menu .list li{
    width: 100%; 
  }
  .cian-menu .list li:hover{
    background:var(--black); 
  }
 
  .cian-header label{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    color: var(--white);
  }
  #toggler:checked ~ .cian-menu{  
    height: 50vh;
    opacity: 1;   
  }
 
 }

 @media screen and (max-width:820px){
  .cian-logo img{ 
    transition: 1s ease all;
  }
  .cian-menu li{
    padding: 0; 
  }
  .cian-menu li a{
     font-size: 0.8rem; 
  }
 }
 @media screen and (max-width:992px){
  .cian-menu li{
    padding: 0.6rem ;
    width: 5rem; 
  }
  .cian-menu li a{
     font-size: 1.1rem; 
     transition: 1s ease all;
  }
 }