.cyan-slider-container{
    position: relative;
    width: 100% !important;
    height: 90vh  ;
    background :  var(--black);
    
}
.page-header{
  width: 100%; 
  height: 60vh;  
  background-color: var(--black);
}

.page-container{ 
  position: relative; 
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; 
  height: 100vh;
  background-image:var(--gradientPage);
  margin: 0 auto;
  min-width: 400px;
}
 

.quienes-somos , .mision-vision{
  width: 100%;     
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center; 
   
}

/*gradiens all*/
.custom-shape-divider-bottom-1676049820 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676049820 svg {
  position: relative;
  display: block;
  width: calc(182% + 1.3px);
  height: 180px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1676049820 .shape-fill {
  fill:  var(--white);
}
 

/**/

.quienes-somos h1, .mision-vision h1{
  font-weight: 800;
  text-align: center; 
  padding: 1rem; 
  background: -webkit-linear-gradient(#64abe9, #200c68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-quienes-somos{ 
  display: flex;
  justify-content:space-around; 
  align-items: center;
  flex-wrap: wrap;  
  transition: 1s all ease;
}
.card-quienes-somos .nosotros-img ,
 .card-quienes-somos .cian-text{  
  width: 400px;
  height: 250px;   
}
 
.card-quienes-somos .nosotros-img img{
  width: 100%;
  height: 100%;
}
.card-quienes-somos .cian-text{  
  font-size: 1.5em; 
  text-align: justify;
  text-transform: none;
  text-size-adjust: unset;
}

 .card-mision-vision{
  display: flex;
  justify-content:space-around;  
  flex-wrap: wrap;  
 }

 .card-mision-vision div{
  width: 400px;
  display: flex;
  flex-direction: column; 
 }

 .card-mision-vision div h3{   
  font-size:1.6em ;
  background: -webkit-linear-gradient(#64abe9, #200c68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
 .card-mision-vision div p{  
 font-size: 1.5em;
 text-align: justify;
 }


 /* medias querys*/
 @media screen and (max-width:940px){ 
  .quienes-somos, .mision-vision { 
    height: auto;
  }
  .card-quienes-somos{
    flex-wrap: nowrap;
  }
  .card-quienes-somos .nosotros-img, .card-quienes-somos .cian-text { 
    margin:.5rem;
    height:auto;
  }
  .card-mision-vision {
    flex-wrap: nowrap;
  }
  .card-mision-vision  div  {
     margin: .5rem;
  }
  .card-mision-vision  div p, .card-quienes-somos .cian-text {
    font-size: 1.2rem;
  }

 }


 @media screen and (max-width:600px){ 
  .cyan-slider-container {
    height: 50vh;
  } 
  /*container -- pages*/
  .card-quienes-somos .nosotros-img{
    display: none;
  } 
  .card-quienes-somos .nosotros-img, .card-quienes-somos .cian-text {
    width: 400px;
    height: auto;
  } 
  .custom-shape-divider-bottom-1676049820{
    display: none;
  } 
  .quienes-somos, .mision-vision {
    height: auto;
    text-align: center;
  }
  .quienes-somos h1{
    font-size:2rem;
    padding: 1rem;
  }
  .card-mision-vision h3{ 
    font-size: 1rem; 
  }
  .card-mision-vision {
    flex-wrap: wrap;
  }
}

 