.header-container{
    width: 100% !important;
    height: 100vh !important;
    background-color: var(--negro);
}
.page-header{
  background: var(--black);
  width: 100%; 
  height: 37vh;
  z-index: 1000 !important; 
  position: relative;
}

.page-container{  
  display: flex;
  justify-content:center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap; 
  height: 120vh;
  background: var(--white);
  margin: 0 auto;
  min-width: 400px;
}
 

.quienes-somos , .mision-vision{
  width: 100%;    
  height: 300px;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center; 
   
}

.quienes-somos h1, .mision-vision h1{
  text-align: center; 
}
.card-quienes-somos{ 
  display: flex;
  justify-content:space-around; 
  align-items: center;
  flex-wrap: wrap;  
}
.card-quienes-somos .nosotros-img ,
 .card-quienes-somos .cian-text{  
  width: 400px;
  height: 250px;   
}
 
.card-quienes-somos .nosotros-img img{
  width: 100%;
  height: 100%;
}
.card-quienes-somos .cian-text{  
  font-size: 1.5em; 
  text-align: justify;
  text-transform: none;
  text-size-adjust: unset;
}

 .card-mision-vision{
  display: flex;
  justify-content:space-around;  
  flex-wrap: wrap;  
 }

 .card-mision-vision div{
  width: 400px;
  display: flex;
  flex-direction: column; 
 }

 .card-mision-vision div h3{   
  font-size:1.6em ;
 }
 .card-mision-vision div p{  
 font-size: 1.5em;
 text-align: justify;
 }


 /* medias querys*/
